<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/deptajaxclient.js"> </script> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>Code:<input id="code" type="text"/> 
    <input id="sendButton" type="submit"/> </div>
    <ol id="deptsregion"></ol>
  </body>
</html>
