<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/staffajaxclient.js"> </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>Name:<input id="name" type="text"/> 
         Dept:<select name="code" id="code">
              </select>
    <input id="sendButton" type="submit"/> </div>
    <ol id="staffsregion"></ol>
  </body>
</html>
